{% include "header.html" %}
<html>
    <style>
        body {
            background-color:#FFFFFF;
            color:#1D1C1C;
            font-family: 'Futura', sans-serif;

        }
        .product-image  {
            height: 80px;
        }
        
    </style>
    <header>
        <h5>Sparkle Dental Clinic</h5>
    </header>
    <body>
        <h1>About Us</h1>
        <b3>At Sparkle Dental Clinic, your smile will always be our priority! Book an appointment now!</b3>
    </body>
    
</html>

{% include "footer.html" %}
